.searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: calc(0px - 1.8rem + 6px);
}

.searchBar input[type='text'] {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: var(--gray-500);
  color: var(--gray-300);

  transition: filter 1s;
}

.searchBar button:hover {
  filter: brightness(0.9);
}

.searchBar button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 0;
  color: var(--gray-100);
  background-color: var(--blue-dark);
}

.searchBar button span {
  font-size: 0.875rem;
  line-height: 140%;
}
